{
  "port": 3003,
  "collectors": [{
    "uri": "ws://localhost:8150/"
  }],
  "store": {
    "filename": "data/dashboard.json"
  },
  "dashboardConfig": {
    "filename": "../ErabliDash/config.json"
  },
  "influxdb": {
	  "host": "localhost",
	  "port": 8096
  }
}
