{
    "port": 3003,
    "collectors": [
        {
            "uri": "ws://localhost:8150/"
        }
    ],
    "database": "data/db.sqlite",
    "dashboardConfig": {
        "filename": "../ErabliDash/config.json"
    },
    "influxdb": {
        "host": "servername.local",
        "port": 8086,
        "database": "Test_2023",
        "schema": "influxDbSchema.json"
    }
}
