{
  "port": 3003,
  "collectors": [{
    "uri": "ws://localhost:8150/"
  }],
  "database": "data/db.sqlite",
  "dashboardConfig": {
    "filename": "../ErabliDash/config.json"
  },
  "influxdb": {
	  "host": "localhost",
    "username": "",
    "password": "",
	  "port": 8086,
    "database": "Test2021",
    "schema": "influxDbSchema.json"
  }
}
